# Terraform local cache
terraform/.terraform/
terraform/.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.backup

# PEM keys (never commit)
*.pem

# Ansible retry files
*.retry

# IDE files
*.log

