---
- name: Install Redis Master
  hosts: redis_master
  become: yes
  tasks:

    - name: Install Redis Master
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis master
      blockinfile:
        path: /etc/redis/redis.conf
        block: |
          bind 0.0.0.0
          protected-mode no

    - name: Restart Redis
      service:
        name: redis-server
        state: restarted


- name: Install Redis Replica
  hosts: redis_replica
  become: yes
  tasks:

    - name: Install Redis Replica
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis Replica
      blockinfile:
        path: /etc/redis/redis.conf
        block: |
          replicaof {{ hostvars['redis_master'].ansible_host }} 6379
          bind 0.0.0.0
          protected-mode no

    - name: Restart Redis
      service:
        name: redis-server
        state: restarted
