---
# ===========================
# Install & Configure Redis Master
# ===========================
- name: Install Redis Master
  hosts: redis_master
  become: yes
  tasks:

    - name: Install Redis
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis master
      lineinfile:
        path: /etc/redis/redis.conf
        regexp: '^bind '
        line: "bind 0.0.0.0"

    - name: Disable protected mode
      lineinfile:
        path: /etc/redis/redis.conf
        regexp: '^protected-mode '
        line: "protected-mode no"

    - name: Restart Redis
      service:
        name: redis-server
        state: restarted
        enabled: yes


# ===========================
# Install & Configure Redis Replica
# ===========================
- name: Install Redis Replica
  hosts: redis_replica
  become: yes
  vars:
    redis_master_ip: "{{ groups['redis_master'][0] }}"
  tasks:

    - name: Install Redis
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis replica
      blockinfile:
        path: /etc/redis/redis.conf
        block: |
          replicaof {{ redis_master_ip }} 6379
          bind 0.0.0.0
          protected-mode no

    - name: Restart Redis
      service:
        name: redis-server
        state: restarted
        enabled: yes
