---
# ===========================
# Install & Configure Redis Master
# ===========================
- name: Install Redis Master
  hosts: redis_master
  become: yes
  vars:
    redis_bind_interface: "0.0.0.0"
  tasks:

    - name: Install required packages
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis master - bind
      lineinfile:
        path: /etc/redis/redis.conf
        regexp: '^bind '
        line: "bind {{ redis_bind_interface }}"

    - name: Disable protected mode (required for replication)
      lineinfile:
        path: /etc/redis/redis.conf
        regexp: '^protected-mode '
        line: "protected-mode no"

    - name: Restart Redis Master
      service:
        name: redis-server
        state: restarted
        enabled: yes


# ===========================
# Install & Configure Redis Replica
# ===========================
- name: Install Redis Replica
  hosts: redis_replica
  become: yes
  vars:
    redis_master_ip: "{{ groups['redis_master'][0] }}"
  tasks:

    - name: Install required packages
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis replica to sync from master
      blockinfile:
        path: /etc/redis/redis.conf
        block: |
          replicaof {{ redis_master_ip }} 6379
          bind 0.0.0.0
          protected-mode no

    - name: Restart Redis Replica
      service:
        name: redis-server
        state: restarted
        enabled: yes
