---
# Install Redis Master
- name: Install Redis Master
  hosts: redis_master
  become: yes
  tasks:
    - name: Install Redis
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis Master
      blockinfile:
        path: /etc/redis/redis.conf
        block: |
          bind 0.0.0.0
          protected-mode no

    - name: Restart Redis
      service:
        name: redis-server
        state: restarted
        enabled: yes


# Install Redis Replica
- name: Install Redis Replica
  hosts: redis_replica
  become: yes
  tasks:
    - name: Install Redis
      apt:
        name: redis-server
        state: present
        update_cache: yes

    - name: Configure Redis Replica
      blockinfile:
        path: /etc/redis/redis.conf
        block: |
          bind 0.0.0.0
          protected-mode no
          replicaof {{ hostvars['redis_master'].ansible_host }} 6379

    - name: Restart Redis
      service:
        name: redis-server
        state: restarted
        enabled: yes
